#topBar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 16px;
  width: 450px;
}

#topBar button{
  display: flex;
  font-size: 20px;
  align-items: center;
  padding: 4px;
  margin: 12px;
  background: none;
  border-style: none;
  border-radius: 4px;
  padding: 8px;
}

#topBar button:hover{
  transform: scale(1.05);
}

#topBar img{
  margin: 0px 4px 0px;
}

.clear{
  color: red;
}

#topBar .load{
  background-color: rgb(231, 234, 238);
}