.createDesignBlock{
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  margin: 0px 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createDesignBlock .formEducation{
  width: 100%;
}

.createDesignBlock .dateInput{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.createDesignBlock .dateInput div{
  width: 45%;
}

.createDesignBlock .lineButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0px 4px;
}

.createDesignBlock .miniLineButtons{
  display: flex;
  flex-direction: row;
  gap: 12px;
  
}

.createDesignBlock .miniLineButtons .save{
  background-color: rgb(162, 218, 252);
}

.createDesignBlock .lineButtons button{
  font-size: 20px;
  background:none;
  border-width: 1.5px;
  padding: 4px;
  border-radius: 4px;
}

.createDesignBlock .lineButtons button:active{
  transform: scale(0.95);
}

.createDesignBlock p{
  font-size: 32px;
  margin: 4px 0px 8px;
}

.createDesignBlock div{
  display: flex;
  flex-direction: column;
  padding: 4px 0px 4px;
}

.createDesignBlock label{
  font-size: 20px;
  margin: 4px 0px 4px;
}

.createDesignBlock input{
  font-size: 16px;
  border-radius: 12px;
  padding: 4px 8px 4px;
  background-color: rgb(233, 241, 241);
  border-style: none;
}

.createDesignBlock .topSlide{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.createDesignBlock .btnOpen{
  display: flex;
  background: none;
  border-style: none;
} 


.createDesignBlock .add-education{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-style: solid;
  font-size: 16px;
  border-radius: 4px;
  padding: 4px;
  width: 100px;
  margin: 8px 0px 0px;
  background-color: rgb(233, 241, 241);
}


.createDesignBlock span:active{
  transform: scale(0.95);
}

.createDesignBlock .listLine{
  display: flex;
  flex-direction: column;
  list-style: none;
  /* background-color: rgb(206, 206, 206); */
  font-size: 16px;
  padding: 4px;
}

.createDesignBlock .closeBtn{
  background: none;
  border-style: none;
  margin: 4px 8px 4px
}

.createDesignBlock img{
  display: flex;
}