#personalDetails{
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  margin: 0px 0px 12px;
}

#personalDetails p{
  font-size: 32px;
  margin: 4px 0px 8px;
}

#personalDetails div{
  display: flex;
  flex-direction: column;
  padding: 4px 0px 4px;
}

#personalDetails label{
  font-size: 20px;
  margin: 4px 0px 4px;
}

#personalDetails input{
  font-size: 16px;
  border-radius: 12px;
  padding: 4px 8px 4px;
  background-color: rgb(233, 241, 241);
  border-style: none;
}

#personalDetails .topSlide{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#personalDetails button{
  display: flex;
  background: none;
  border-style: none;
}

#personalDetails button:active{
  transform: scale(0.95);
}

#personalDetails .box-btn{
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  text-align: center;
  gap: 16px;
}

#personalDetails .save-btn{
  margin: 12px 0px 0px;
  padding: 4px;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgb(95, 207, 255);
  width: 100%;
  text-align: center;
}

#personalDetails .clear-btn{
  margin: 12px 0px 0px;
  padding: 4px;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgb(255, 112, 112);
  width: 100%;
  text-align: center;
}